.uni-form-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.signupForm {
  flex: 1;
  display: flex;
  width: 100%;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
}
